.main {
    padding: 6rem;
    min-height: 100vh;
}

.title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
}

.link {
    position: absolute;
    right: 40px;
    bottom: 40px;
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    transition: all 0.1s ease-in-out;
}

.link:hover {
    transform: scale(120%);
    color: #9450fc;
}

.detailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}