.card{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    transform: scale(100%);
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(110%);
}